---
import Layout from "../layouts/Layout.astro";
import tool from "components/LandingHero/data";
import LandingPageHero from "components/LandingHero";
import { cn, url } from "lib/utils";
import Fade from "react-reveal/Fade";
import TextFormat from "lib/helpers/TextFormat";
import ComingSoonModal from "components/ComingSoonModal";
import BusinessCard from "components/BusinessCard";
import load from "astro-icon/lib/utils";
import InfoAboutCompany from "components/LandingPageSections/InfoAboutCompany.astro";
import Features from "components/Features";
import LogoMarquee from "components/LogosSlide";

const data = [
   {
      image: "/images/receipts/iconOne.svg",
      heading: "Digital Receipts",
      paragraph:
         "Go green with our digital receipts – a modern, eco-friendly solution for seamless transaction records.",
   },
   {
      image: "/images/receipts/iconTwo.svg",
      heading: "Paperless Tracking",
      paragraph:
         "Ditch the paper clutter. Easily track and manage your expenses with our efficient paperless receipt system.",
   },
   {
      image: "/images/receipts/icon.svg",
      heading: "Instant Confirmation",
      paragraph:
         "Receive instant confirmation of your transactions with our swift digital receipt system. No more waiting!.",
   },
   {
      image: "/images/receipts/iconFour.svg",
      heading: "Organized Records",
      paragraph:
         "Keep your financial records organized effortlessly. Our receipts make tracking and managing expenses a breeze.",
   },
];
const sections = [
   {
      heading: "Technical Support",
      paragraph: "Our team is ready to help if you're having trouble with our product.",
      img: "/images/contact/support.svg",
   },
   {
      heading: "Suggest a Feature",
      paragraph:
         "Helps us shape the future of our Build Cap by sharing your thoughts on potential features",
      img: "/images/contact/support2.svg",
   },
   {
      heading: "Integration partner network",
      paragraph: "Are you having a problem integrating partner network? reach out to our experts",
      img: "/images/contact/support3.svg",
   },
];
const images = [
   "/images/pricing/buffer.svg",
   "/images/pricing/stripe.svg",
   "/images/pricing/netflix.svg",
   "/images/pricing/dropbox.svg",
   "/images/pricing/hub.svg",
   "/images/pricing/framer.svg",
];
---

<Layout title="Build Cap">
   <section
      class="w-full mt-20"
      style={{
         background: ` #F8FAFC url('/images/landing-page/bg.svg') no-repeat fixed  center / cover`,
      }}
   >
      <LandingPageHero client:load />
      <section class="w-full scroll-mt-[-20rem]">
         <section
            class="w-full py-[3rem] pb-20 md:pt-[6rem] md:pb-[7.25rem] md:py-[5rem] container px-container-base lg:px-container-lg xl:px-container-xl relative max-w-[1700px]"
         >
            <div class="w-full flex flex-col justify-center gap-[2.5rem] md:gap-[2.75rem] relative">
               <div class="gap-6 flex justify-center items-center 2xl:gap-8 flex-col">
                  <Fade bottom client:load>
                     <h2
                        class="font-[500] mt-4 md:mt-10 text-center text-[1.18rem] md:text-[1.3rem] xxl:text-[1.3rem] leading-[2.2rem] md:leading-[2rem] max-w-[38.875rem] xxl:max-w-[45.875rem]"
                     >
                        These businesses already use Build Cap
                     </h2>
                  </Fade>

                  <div
                     class="flex mx-auto items-center gap-4 transition-all duration-500 ease-in-out mb-5"
                  >
                     <LogoMarquee images={images} client:only />
                  </div>
               </div>
            </div>
         </section>
      </section>
   </section>

   <section class="w-full bg-primary-1 scroll-mt-[-20rem]" id="features">
      <section
         class="w-full py-[10rem] text-white container px-container-base lg:px-container-lg xl:px-container-xl overflow-x-hidden relative max-w-[1700px]"
      >
         <div class="gap-6 flex justify-center items-center 2xl:gap-8 flex-col">
            <div class="flex items-center gap-4 bg-secondary-1/25 py-3 px-6 rounded-full">
               <p class="font-[600] text-center text-sm md:text-lg">
                  WHY SHOULD YOU CHOOSE AI Build Cap?
               </p>
            </div>
            <h1
               class="font-[700] text-white text-center text-[1.6rem] md:text-[4.4rem] leading-[130%] md:leading-[5rem] tracking-[0.02rem] md:tracking-[0.0225rem] gradient-text transition-all duration-500 ease-in-out md:max-w-[90rem] lg:ml-[-0.2rem]"
            >
               <TextFormat
                  text={`Used by subcontractors on projects across the country `}
                  keyword={"The Pool"}
                  keywordClassName="text-primary-1  transition-all duration-500 ease-in-out"
               />
            </h1>
         </div>

         <Features client:load />
      </section>
      <section class="w-full bg-primary-2">
         <section
            class="w-full py-[3rem] md:py-[8rem] container px-container-base lg:px-container-lg xl:px-container-xl relative max-w-[1700px]"
         >
            <div class="gap-6 flex justify-center items-center 2xl:gap-8 flex-col">
               <div class="flex items-center py-3 px-6 rounded-full">
                  <img src="images/pricing/hunt.svg" alt="" class="w-40 md:w-full" />
               </div>
               <h1
                  class="font-[700] text-secondary-2 text-center text-[1.6rem] md:text-[4.4rem] leading-[130%] md:leading-[5rem] tracking-[0.02rem] md:tracking-[0.0225rem] transition-all duration-500 ease-in-out max-w-[80rem] lg:ml-[-0.2rem]"
               >
                  <TextFormat
                     text={`“Our partnership with Build Cap has proved very beneficial and promising for our cashflow needs.”`}
                     keyword={"The Pool"}
                     keywordClassName="text-primary-1 transition-all duration-500 ease-in-out"
                  />
               </h1>

               <div
                  class="flex items-center flex-col md:flex-row gap-4 transition-all duration-500 ease-in-out mb-5"
               >
                  <Fade bottom client:load>
                     <p class="text-sm md:text-xl text-gray-500">
                        Build Cap is rated 4.9/5 stars on product hunt reviews.
                     </p>
                  </Fade>
                  <div class="flex items-center gap-4 bg-secondary-1/25 py-3 px-6 rounded-full">
                     <p class="font-[600] text-sm md:text-xl">See what they are saying</p>
                     <img src="images/landing-page/arrow.svg" alt="" />
                  </div>
               </div>
            </div>
         </section>
      </section>
   </section>
   <section class="w-full bg-primary-2 scroll-mt-28" id="download">
      <!-- info grid icon cards sections -->
      <section
         class="grid md:grid-cols-[1fr_1fr] gap-[5rem] rounded-lg w-full py-[3rem] pb-20 md:pt-[6rem] md:pb-[7.25rem] md:py-[5rem] container px-container-base lg:px-container-lg xl:px-container-xl relative max-w-[1700px]"
      >
         <div class="w-full flex flex-col">
            <h4
               class="text-secondary-2 text-[1.6rem] md:text-[2.5rem] font-[700] md:leading-[3.5rem] tracking-[0.0125rem] mb-[6rem] md:max-w-[70%]"
            >
               <TextFormat
                  keywordClassName="text-primary-1"
                  text={"Build Cap is a tool that helps you build your business"}
                  keyword={"tool"}
               />
            </h4>

            <img src={url("/images/receipts/needs.png")} alt="" class="w-full" />
            <a
               href="#"
               class="md:w-fit mt-10 px-4 py-4 flex justify-center items-center rounded-md bg-primary-1 shadow-1 hover:opacity-90 active:opacity-100 transition-opacity duration-300 ease-in-out text-white cursor-pointer w-6/12 md:hidden"
            >
               <span class="text-white font-[500] leading-[1.5rem] tracking-[0.02875rem]">
                  Sign up for free
               </span>
            </a>
         </div>
         <div>
            <p
               class="text-[1rem] md:text-[1.2rem] md:leading-[1.7rem] tracking-[0.00563rem] max-w-[37.75rem] mb-3"
            >
               Build Cap is a business management, finance and marketing tool that helps your
               business be more organized and grow!
            </p>
            <div class="hidden md:flex gap-4">
               <a
                  href="#"
                  class={cn(
                     "md:w-fit px-6  py-4  justify-center items-center rounded-md bg-primary-1 shadow-1 hover:opacity-90 active:opacity-100 transition-opacity duration-300 ease-in-out hidden md:flex md:px-16 ",
                  )}
               >
                  <span class="text-white font-[500] leading-[1.5rem] tracking-[0.02875rem]">
                     Get Started
                  </span>
               </a>
               <a
                  href={url("request-demo")}
                  class={cn(
                     "md:w-fit px-6  py-4  justify-center items-center rounded-md border-primary-1 border  hover:opacity-90 active:opacity-100 transition-opacity duration-300 ease-in-out hidden md:flex md:px-12 ",
                  )}
               >
                  <span class="font-[500] leading-[1.5rem] tracking-[0.02875rem]">
                     Request a Demo
                  </span>
               </a>
            </div>
            <section class="grid md:mt-20 md:grid-cols-[1fr_1fr] gap-[3rem] rounded-lg">
               {
                  data.map((item: any) => {
                     return (
                        <article class=" px-5 py-8 md:py-12 gap-12 justify-between  flex flex-col  items-start border-[1px] rounded-2xl">
                           <img src={url(item.image)} alt="" />
                           <div class="flex flex-col gap-4  px-2">
                              <h3 class="font-semibold text-2xl">{item.heading}</h3>
                              <p class="text-[1.1rem] leading-[130%] md:leading-[2rem] tracking-[0.02rem] md:tracking-[0.0225rem]">
                                 {item.paragraph}
                              </p>
                           </div>
                        </article>
                     );
                  })
               }
            </section>
         </div>
      </section>
   </section>
   <section class="w-full bg-primary-1 scroll-mt-28" id="download">
      <section
         class="w-full py-[4rem] md:py-[10rem] container px-container-base lg:px-container-lg xl:px-container-xl overflow-x-hidden relative max-w-[1700px]"
      >
         <div class="w-full flex flex-col items-center gap-10">
            <div class="">
               <h2
                  class="font-[600] text-white text-center text-[2rem] md:text-[4rem] leading-[130%] md:leading-[5rem] tracking-[0.02rem] md:tracking-[0.0225rem] transition-all duration-500 ease-in-out max-w-[90rem]"
               >
                  <TextFormat
                     text={`Start your Build Cap journey and amplify your business`}
                     keyword={"business"}
                     keywordClassName="text-secondary-1 transition-all duration-500 ease-in-out"
                  />
               </h2>
            </div>

            <div
               class="flex items-center md:justify-center md:w-1/2 gap-4 transition-all duration-500 ease-in-out"
            >
               <a href="#" class="">
                  <div
                     class="flex items-center justify-center bg-white py-3 md:py-4 px-4 md:px-6 rounded-lg"
                  >
                     <p class="text-primary-1 text-sm md:text-lg font-bold tracking-wider">
                        Get started with Build Cap
                     </p>
                  </div>
               </a>
            </div>
         </div>
      </section>
   </section>
   <section
      class="rounded-lg w-full py-[3rem] pb-20 md:py-[10rem] container px-container-base lg:px-container-lg xl:px-container-xl relative max-w-[1700px]"
   >
      <div class="flex flex-col justify-center items-center sm:text-center lg:px-8 px-6 gap-6">
         <p class="text-2xl font-bold tracking-tight text-center lg:text-4xl">
            Frequently asked questions
         </p>
         <p class="leading-8 text-center font-medium text-lg">
            Answers to the questions in your mind. Get in touch with us for
            <br />
             more information.
         </p>
         <div class="w-12 h-[0.15rem] bg-primary-1"></div>
      </div>
      <div class="grid mt-12 md:grid-cols-[1fr_1fr_1fr] gap-[3rem]">
         {
            sections.map((item) => {
               return (
                  <article class=" bg-slate-200/50 px-5 py-8 md:py-20  flex gap-4 items-center border-[3px] rounded-lg">
                     <img src={url(item.img)} alt="" />
                     <div class="flex flex-col gap-4  px-2">
                        <h3 class="font-semibold text-2xl">{item.heading}</h3>
                        <p class="text-[1.1rem] leading-[130%] md:leading-[2rem] tracking-[0.02rem] md:tracking-[0.0225rem]">
                           {item.paragraph}
                        </p>
                     </div>
                  </article>
               );
            })
         }
      </div>
   </section>
</Layout>
